/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.navbar .logo
  height 1.3rem !important
  vertical-align middle !important

a.sidebar-link
  &.active
    background $greyColor
